@{
    ViewData["Title"] = "About";
}
<h2>About</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec tempor metus. Fusce sed venenatis elit, eu vehicula libero. Proin nec luctus metus. 
    Maecenas ut varius mauris. Mauris quis nulla ut massa blandit suscipit quis nec neque. Proin scelerisque, leo vel interdum viverra, felis enim tristique metus, 
    vitae sollicitudin nibh tellus vel orci. Nullam quis fermentum dui, vitae vestibulum metus. Phasellus efficitur, ligula vel dictum mollis, urna tellus lacinia nunc, 
    a venenatis ante diam non risus. Suspendisse efficitur vestibulum neque, at pellentesque augue. Aenean leo odio, imperdiet consequat libero ut, bibendum laoreet justo. 
    Maecenas lobortis, justo at imperdiet tristique, tortor ex molestie mi, eget malesuada mauris odio in nunc. In non rutrum metus.</p>
