@{
    ViewData["Title"] = "About";
}
<h2>Projeto disafiador</h2>

<p>Já trabalhei em projetos desafiadores como um sistema de envio de watsapp através de um fornecedor externo, 
    onde nossa aplicação interna tinha uma interface moderna e dinâmica onde os usuários geravam protocolos relacionados a assuntos internos 
    mas que tinham relações com o cliente e a necessidade de resposta desse cliente. 
    Então a tratativa interna era convertido em uma mensagem que era disparada ao cliente através de post na API do fornecedor e a 
    reposta do cliente era devolvida para nosso webhook que disparava outra mensagem criando um fluxo de conversação de acordo com o 
    que foi cadastrado no sistema. 
    Um dos desafios foi ter que implementar outra aplicação que tivemos que criar para publicar na núvem, pois a rede da empresa era muito 
    fechada e o nosso fornecedor não conseguia comunicar com a nossa aplicação principal. Com isso a aplicação externa ficava como ponte 
    onde o fornecedor disparava as respostas e status das mensagens dos clientes e nos realizámos Gets nessa aplicação para trazer para nossa 
    aplicação principal.
    Participei com maior ênfase na parte de comunicação entre a aplicação e o fornecedor. 
    Para essa aplicação foi utilizado ASP.NET, API Rest e WindowsServices.</p>
