@{
    ViewData["Title"] = "Home";
}


<div class="text-center" style="margin-top: 40px;">
    <p style="font-size: 24px;">Nome: Marvyn Mark Silva Ribeiro</p>
    <p style="font-size: 24px;">Cargo Pretendido: Desenvolvedor .NET</p>
    <p style="font-size: 20px;">Pretenção Salarial: R$ 8.500,00</p>
    <p style="font-size: 18px;">Data do teste: 06/02/2023</p>
</div>
